# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Chess-With-Guns.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Unity Game Saves\Chess-With-Guns\.idea\.idea.Chess-With-Guns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
